<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.tec.myhomeworkout">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.camera2" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Registro"></activity>
        <activity
            android:name=".MainMenu"
            android:label="@string/title_activity_main_menu"></activity>
        <activity
            android:name=".HaciendoEjercicio"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".PosRutina" />
        <activity
            android:name=".PrevisRutina"
            android:label="@string/previs_rutina_titulo"
            android:parentActivityName=".PaginaInicial"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".Grafica" />
        <activity android:name=".MonitoreaProgresoGraficas" >
        </activity>

        <activity android:name=".MonitoreaProceso"
            android:label="Monitorea tu proceso">

        </activity>
        <activity
            android:name=".Horario"
            android:label="@string/horario"
            android:parentActivityName=".ObjetivoAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ObjetivoAct"
            android:label="@string/meta"
            android:parentActivityName=".Peso"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaginaInicial"
            android:screenOrientation="portrait"

            android:theme="@style/noToolBar"></activity>

        <activity
            android:name=".PrevPhotos"
            android:label="@string/fotos"
            android:parentActivityName=".Horario"></activity>
        <activity
            android:name=".Peso"
            android:label="@string/peso"
            android:parentActivityName=".Altura"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Altura"
            android:label="@string/altura"
            android:parentActivityName=".Nacimiento"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileAct"
            android:label="@string/perfil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Nacimiento"
            android:label="@string/nacimiento"
            android:parentActivityName=".Genero"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Genero"
            android:label="@string/genero"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogInAct"
            android:screenOrientation="portrait"
            android:theme="@style/noToolBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <activity
        android:name=".MainActivity"
        android:label=""
        android:screenOrientation="portrait"
        android:theme="@style/splashTheme">

        </activity>
</application>

    </manifest>